{% extends 'modelo.html' %}

{% load static %}

{% load humanize %}

{% block tabs %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Composições Importadas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Composições importadas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
</ul>
<br>

{% endblock %}

{% block content %}

<a class="btn btn-primary" href="{% url 'select_comps' id %}" role="button">Importar Composições</a>

<br>
<br>
<h3>Composicões
</h3>
<hr>
<div class="table-responsive">
    <table class="table table-stripped table-hover" id="tabela-listar">
        <thead>
            <tr>
                <th>Código</th>
                <th>Grupo</th>
                <th>Descrição</th>
                <th>Custo Unitário</th>
            </tr>
        </thead>
        
        <tbody>

            {% for item in lista_precos %}
            <tr>
                <td>
                    <a href="{% url 'composicoes' estado='PR' ano=2022 mes=1 des='N' pk=item.codigo %}" class="link-primary">{{ item.codigo }}</a>
                </td>
                <td>{{ item.grupo }}</td>
                <td>{{ item.descricao }}</td>
                <td class="text-center">R$ {{ item.custo|intcomma }}</td>
            </tr>
            
            {% endfor %}
        
        </tbody>
            
    </table>
</div>
{% endblock %}

{% block scripts %}

<script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>

<script>

    $(document).ready(function () {
        
        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                "infoFiltered": "(filtrado de _MAX_ registos no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registos",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });
 
</script>


{% endblock %}

