{% extends 'modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-4 mx-auto">
        <h3>Entrar</h3>

        <hr>

        <form action="" method="POST">

            {% csrf_token %}

            {{ form|crispy }}

            <br>


            <button type="submit" class="btn btn-primary w-100 shadow-lg rounded">Entrar</button>

            <hr>

            <div class="text-center">
                <p>Ainda não é membro? <a href="{% url 'registrar' %}">Registre-se</a></p>
        </form>
    </div>
</div>


{% endblock %}